<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <section>
        <div class="example-button-row">
          <a mat-button href="https://wa.me/5581979056770">WhatsApp</a>
          <a mat-button href="https://www.linkedin.com/in/caio-marinho-oliveira/">LinkdIn</a>
          <a mat-button href="https://github.com/Caio-Marinho" target="_blank">GitHub</a>
        </div>
    </section>
</mat-toolbar>

